@font-face {
    font-family: Raleway-Medium;
    src: url(../assets/font/raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../assets/font/raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-ExtraLight;
    src: url(../assets/font/raleway/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: Raleway-Thin;
    src: url(../assets/font/raleway/Raleway-Thin.ttf);
}