:root {
    --color-primary: rgb(192, 220, 214);
    --color-secondary: rgb(239, 252, 247);
    --color-tertiary: rgb(67, 94, 99);

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
}